:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  
}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.Contact{
  
  text-align: center;
}

.flex_container{
  display: flex;
	width: 90%;
	margin-left: 5%;
}
@media  (min-width: 800px) {.flex_container{
  height: 900px;
}}
.Content h1{
	margin-left: 10%;
}


.Content p{
	position: relative;
	margin-top: 5%;
	width: 60%;
  min-width: 400px;
	left: 10%;
  
}

.Content-Image{
  position: relative;
  height: 90vh;
  width: auto;
  right: 5%;
}
@media  (max-width: 1322px) and (min-width: 800px) {
  .Content-Image{
    position: relative;
    height: auto;
    width: 80%;
   
    left: 22%;
    object-fit: contain;
    }
    
    .Content{
      width: 50%;
    }
}

.Content-2 {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}
.Content-2 h1{
  margin-bottom: 3%;
  text-align: center;
   margin-left: 0%;
}

@media (orientation: portrait) and (max-width: 800px) {
	.Content p{
		position: relative;
		margin-top: 5%;
		
		width: 80%;
		left: 7%;
	}

  .Content-Image{
    position: relative;
    width: 100vw;
    height: auto;
    right: 5%;
  }
}



@media (orientation: portrait) and (max-width: 800px) {
	.flex_container{ 
		flex-direction: column;
    width: 100%;
	}
	
}


.Show-portrait{
	display: none;
}
@media (orientation: portrait) and (max-width: 800px) {
	
	.Show-portrait{
		display: block;
	}
}

.Show-Landscape{
	display: block;
}
@media (orientation: portrait) and (max-width: 800px) {
	
	.Show-Landscape{
		display: none;
	}
}

.relative{
  height: 100vh;
}

.overlapcontainer{
  height: 75vw;
  width: auto;
  
}
.OverLapping-Images{
  display: grid;
  grid-template-areas: overlay;
}

.OverLapping-Images > span{
  grid-area: overlay;
}

.OverLapping-Images > div{
  grid-area: overlay;
}

.Span-margin{ 
    margin-top: 50%;
    position: relative;
    right: 25%;
    display: block;
  }

@media (max-width: 1828px) {
    .Span-margin{ 
      
      display: none;
    }}
.menu {
	position: fixed;
	transform: translateX(-2000%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: grey;
	color: #fe5000;
	list-style: none;
	padding-top: 4rem;
	width: 40%;
}

.menuItem {
	display: block;
	margin: 4rem 4rem;
	font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	color: #fe5000;
	border-bottom: solid 2px #fe5000;


}

.menuItem:hover {
	color: black;
}

.hamburger {
	position: fixed;
	z-index: 100;
	top: 1rem;
	left: 1rem;
	padding: 2px;
	border: grey solid 0px;
	background: none;
	cursor: pointer;
}
.menuIcon{
  font-size: 48px; color: #fe5000;
}


.closeIcon {
	display: none;
	font-size: 48px;
}



.showMenu {
	transform: translateX(0);
	z-index: 100;
	width: 30%;
}

@media (orientation: portrait) and (max-width: 800px) {
	.showMenu{width: 100%;}
}
.nav-bar{
	display: block;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: grey;
	border-bottom: solid black 1px;
	
}
.nav-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.logo{
	width: 100px;
	float: right; 
	padding-right: 1%;
	
}
.header1email {
	width: 40%;
}

.header1num {
	width: 40%;
}
.menuItem-navbar{
	float: left;
	font-size: 36px;
	
}

.nav-bar li a {
	display: block;
	margin-top: 2%;
	text-align: center;
	padding: 1px 16px;
	text-decoration: none;
  }
  
  @media (orientation: portrait) and (max-width: 800px) {
	.nav-bar{display: none;}
}

footer {
  margin-top: 15%;
	background-color: grey;
	padding: 4px;
  border: solid black 2px;
  font-size: 20px;
}

.Footer-Flex {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}

.column-Footer-Flex {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
}

.column-Footer-Flex-2 {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
  float: right;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.save-Button{
  background-color: black;
 
  color: white;
}