:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (orientation: portrait) and (max-width: 800px) {
  section{
    margin: 3%;
  }
}


h1{
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.Contact{
  
  text-align: center;
}

p{
  font-size: 1.5rem;
}
ul{
  font-size: 1.5rem;
}
.flex_container{
  display: flex;
  
  }

.image-slide-div{
  height: 100vh;
  margin: 5%;
}

@media (orientation: portrait) and (max-width: 800px) {
  .image-slide-div{
    height: 75vh;
    margin: 5%;
  }
}
.Content h1{
	margin-left: 10%;
}

.Content{
  flex: 1 0 auto; 
  width: 50%;
  margin-top: 5%;
  flex-grow: 5;
  overflow: hidden;
}

.overlapcontainer{
  position: relative;
  height: 100vh;
  padding: 10px;
}

.OverLapping-Images{
  display: grid;
  grid-template-areas: overlay;
}

.OverLapping-Images > span{
  grid-area: overlay;
}

.OverLapping-Images > div{
  grid-area: overlay;
}

.Span-margin{ 
    margin-top: 40%;
    position: relative;
    right: 25%;
    display: block;
  }

.Span-Margin-Left{ 
    margin-top: 65%;
    position: relative;
    left: 55%;
    display: block;
  }


.Content p{
	position: relative;
	margin-top: 5%;
  width: 70%;
  min-width: 300px;
	left: 10%;
  
}

.Content-Image{
  position: relative;
  height: 90vh;
  width: auto;
  max-width: 45vw;
  right: 0%;
  object-fit: contain;
}

.hidden{
  display: block;
  
 }

@media (orientation: portrait) and (max-width: 800px) {

  .Content p{
    position: relative;
    margin-top: 5%;
    width: 98%;
    max-width: 100%;
    min-width: 300px;
    margin-left: -10%;
    
  }
  .Content h1{
    position: relative;
    margin-top: 5%;
    width: 98%;
    max-width: 100%;
    min-width: 300px;
    margin-left: 0%;
    
  }

  .flex_container {
    flex-direction: column;
    flex-grow: 5;
    overflow: auto;
    
    
  }

 
  .About_Image{
    display: none;
  }
  .Content-Image{
 
   right: 1.2%;
   max-width: 99vw;
   
   
  }
  .oppo-hidden{
    display: block;
  }
  .hidden{
    display: none;
    
   }

   .Content {
    flex: 1 0 auto;
    width: 100%;
    
    margin: 0%;
}


}

.Content-2 {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
}
.Content-2 h1{
  margin-bottom: 3%;
  text-align: center;
   margin-left: 0%;
}



.Show-portrait{
	display: none;
}

@media (orientation: portrait) and (max-width: 800px) {
  .Show-portrait{
	display: block;
}
}

.Show-Landscape{
	display: block;
}

@media (orientation: portrait) and (max-width: 800px) {
  .Show-Landscape{
    display: none;
  }
  
}
.Show-1377 {
  display: block;
}
@media (max-width: 1377px) {
  .Show-1377 {
    display: none;
  }
}


.relative{
  height: 100vh;
}



.menu {
	position: fixed;
	transform: translateX(-2000%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: grey;
	color: #fe5000;
	list-style: none;
	padding-top: 4rem;
	width: 40%;
}



.menuItem {
	display: block;
	margin: 4rem 4rem;
	font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
	color: #fe5000;
	border-bottom: solid 2px #fe5000;


}

.menuItem:hover {
	color: black;
}

.hamburger {
	position: fixed;
	z-index: 100;
	top: 1rem;
	left: 1rem;
	padding: 8px;
	border: grey solid 0px;
	background: none;
	cursor: pointer;
}

.menuIcon li{
  list-style-type: none;
  width: 250%;
  height: 5px;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
}




.closeIcon li{
 
	transition: transform 0.2s;
  list-style-type: none;
  width: 250%;
  height: 5px;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  transform:  rotateY(180deg) rotate(45deg);
 
}



.height{
  height: 65%;
}

.showMenu {
	transform: translateX(0);
	z-index: 100;
	width: 30%;
  
}
@media (orientation: portrait) and (max-width: 800px) {
  .showMenu {
    transform: translateX(0);
    z-index: 100;
    width: 100%;
  }}

.nav-bar-block{
	
	
  background-color: grey;
  opacity: 0.9;
	border-bottom: solid 1px black;
	
	
}
.nav-bar{
	
	position: fixed;
	width: 100%;
	z-index: 12;
  
  
	
	
	
}
.nav-bar ul{
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;

}

.logo{
	width: 100px;
	float: right; 
	padding: 0.5%;
	
}
.header1email {
	width: 40%;
}

.header1num {
	width: 40%;
}
.menuItem-navbar{
	float: left;
	font-size: 36px;
	
}

.nav-bar li a {
	display: block;
	margin-top: 2%;
	text-align: center;
	padding: 1px 16px;
	text-decoration: none;
  }
  
  

footer {
  margin-top: 15%;
	background-color: grey;
	padding: 4px;
  border-top: solid black 1px;
  font-size: 20px;
}

.Footer-Flex {
	display: flex;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}



.column-Footer-Flex {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
}

.column-Footer-Flex-2 {
	display: flex;
	flex-direction: column;
	margin-top: 1%;
  float: right;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.save-Button{
  background-color: black;
 
  color: white;
}

/* styles.css */

.sandbox {
  width: 100%;
  height: 80vh;
  margin: auto;
}
@media (min-width: 750px) {
  .sandbox {
    margin-left: auto;
    margin-right: auto;
    max-width: 67rem;
  }
}
.sandbox__carousel {
  position: relative;
  

  
}
@media (max-width: 749px) {
  .sandbox__carousel {
    border-top: 0.1rem solid var(--detail-low-contrast);
    border-bottom: 0.1rem solid var(--detail-low-contrast);
  }
}
@media (min-width: 750px) {
  .sandbox__carousel {
    border-radius: 0.4rem;
    border: 0.1rem solid var(--detail-low-contrast);
  }
}
.sandbox__header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
}
.embla {
  
  --slide-size: 100%;
  
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  
  touch-action: pan-y;
  margin-left: 1px;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: 10%;
  position: relative;
}


.embla__slide__img {
  height: auto;
  max-width: 100%;
}

/* Style for the form fields */
label {
	display: block;
	margin-bottom: 64px;
	font-size: 24px;
	width: 60%;
	left: 20%;
	position: relative;
}

input[type="text"],
input[type="email"],
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	margin-bottom: 20px;
	box-shadow: inset 0 0 0 2px #fe5000;
}
textarea {
	height: 200px;
}

img{
  height: auto;
  max-width: 100%;
}
button[type="submit"] {
	background-color: #fe5000;
	color: #fff;
	font-size: 24px;
	padding: 10px 30px;
  margin-bottom: 5%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	left: 20%;
	position: relative;
}

button[type="submit"]:hover {
	background-color: #fff;
	color: #fe5000;
	box-shadow: 0 0 0 2px #fe5000;
}

/* Style for the form container */
#form_container {
  
	background-image: url(/43.jpg);
	background-size: cover;
	background-position: center center;
	background-color: transparent;
	color: #fe5000;
	margin: 0;
  max-height: 90vh;
	width: 90%;
	left: 5%;
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	margin-top: 10%;
	margin-bottom: 15%;
	padding: 1%;
}

.Gallery_FlexBox{
  padding-top: 10%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  margin-left: 10%;
}

.Gallery_FlexBox_image{
  margin-top: 5%;
}


