.mainheader{
  position: absolute;
	top: 20%;
	text-align: center;
	color: #fe5000;
	font-size: 3vw;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	display: display;

}


.intro{
  position: relative;
  width: 80%;
  left: 10%;
}

.intro h1{
  text-align: center;
}

.Contact{
  text-align: center;
}


.About_Content{
	margin-left: 5%;
}
.serviceList{
	margin-left: 10%;
}
.serviceList li{
	margin-left: 5%;
	text-decoration: dotted;
	list-style-type: disc;
}
.first_list{
	margin-top: 2%;
}