.mainheader{
  position: absolute;
	top: 20%;
	text-align: center;
	color: #fe5000;
	font-size: 3vw;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	display: display;

}

.intro{
  position: relative;
  width: 80%;
  left: 10%;
}

.intro h1{
  text-align: center;
}

.Contact{
  text-align: center;
}

.flex_container{
  display: flex;
	width: 90%;
	margin-left: 5%;
}
.Content h1{
	margin-left: 10%;
}


.Content p{
	position: relative;
	margin-top: 5%;
	width: 60%;
	left: 10%;
}
@media (orientation: portrait) and (max-width: 800px) {
	.Content p{
		position: relative;
		margin-top: 5%;
		
		width: 95%;
		left: 7%;
	}
}

@media (orientation: portrait) and (max-width: 800px) {
	.flex_container{ 
		flex-direction: column;
    width: 100%;
	}
	
}

.serviceList{
	margin-left: 10%;
}
.serviceList li{
	margin-left: 5%;
	text-decoration: dotted;
	list-style-type: disc;
}
.first_list{
	margin-top: 2%;
}