.mainheader{
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
	font-size: 8vw;
	width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  color: #fe5000;
  
  }
  


.intro{
  position: relative;
  width: 80%;
  left: 10%;
}

.intro h1{
  text-align: center;
}

.Contact{
  text-align: center;
}


.About_Content{
	margin-left: 5%;
	
	position: relative;
	background-color: blue;
	
}



.mainheader_portrait{
	position: relative;
	top: 20%;
	text-align: center;
	color: #fe5000;
	font-size: 8vw;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	display: display;
	z-index: 10;

}

@media (orientation: portrait) and (max-width: 800px) {
	.serviceList{
		width: 80%;
		margin-bottom: 10%;
	}}
.serviceList{
	margin-left: 10%;
	width: 60%;
	margin-bottom: 10%;
}
.serviceList li{
	margin-left: 5%;
	text-decoration: dotted;
	list-style-type: disc;
}
.first_list{
	margin-top: 2%;
}